html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

article {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100vw;
}

article:nth-of-type(1) {
  background-color: var(--c-grey-white);
  color: var(--c-grey1);
}

article:nth-of-type(2) {
  background-color: var(--c-grey1);
  color: var(--c-grey-white);
}

:root {

  --s13: 0.813rem;
  --s14: 0.875rem;
  --s16: 1rem;
  --s18: 1.125rem;
  --s20: 1.25rem;
  --s24: 1.5rem;
  --s26: 1.625rem;
  --s30: 1.875rem;
  --s32: 2rem;
  --s36: 2.25rem;
  --s40: 2.5rem;
  --s48: 3rem;
  --s50: 3.125rem;
  --s64: 4rem;
  --s78: 4.875rem;
  --s96: 6rem;
  --s100: 6.25rem;
  --s112: 7rem;
  --s143: 8.938rem;
  --s185: 11.563rem;
  --s234: 14.625rem;
  --s265: 16.563rem;

  --c-blue1: #0C195E;
  --c-blue2: #1C33A3;
  --c-blue3: #3350E9;
  --c-blue4: #CDD0FA;
  --c-blue-white: #EFF0FD;
  --c-green1: #0B1301;
  --c-green2: #223303;
  --c-green3: #3C560A;
  --c-green4: #587B13;
  --c-brown1: #3E1705;
  --c-brown2: #6E2F10;
  --c-brown-white: #FEEDEA;
  --c-brown-white-subtle: #E7E6E6;
  --c-grey1: #212126;
  --c-grey-white: #F1F1F1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--c-grey-white);
  font-family: tenon, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: var(--s18);
  line-height: 1.5;
  color: var(--c-grey1);
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--c-blue3);
}

nav ul, footer ul{
  list-style: none;
}

button {
  font-size: var(--s13);
  font-family: tenon, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  background-color: var(--c-blue3);
  color: var(--c-blue-white);
  border: 2px dashed var(--c-blue-white);
  padding: 0.8rem 1.6rem;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--c-blue4);
  color: var(--c-grey1);
  border: 2px dashed var(--c-blue3);
}

button:focus,
button:focus-visible {
  background-color: var(--c-blue-white);
  color: var(--c-blue3);
  border: 2px dashed var(--c-blue3);
}

/* PROOFREADER QUEST */
.proofreader-rectangle:focus {
  background-color: var(--c-blue-white);
  color: #1a1a1a;
  border: 2px solid #3003f8;
}
/* .proofreader-container {
} */
.solution.hidden {
  display: none;
}

.solution.visible {
  display: block;
}

#language-select {
  background: none;
  border: none;
  font-size: var(--s16);
  font-family: tenon, sans-serif;
  font-weight: 500;
  color: var(--c-grey-white);
  cursor: pointer;
  margin-top: var(--s13);
}

#language-select option {
  font-size: var(--s16);
  font-family: tenon, sans-serif;
  font-weight: 500;
  color: var(--c-grey-black);
}

#language-select:focus {
  outline: none;
}

.nav{
  background-color: var(--c-brown1);
}

.nav__item {
  margin: 0.5rem;
  font-family: tenon, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--s16);
  text-transform: uppercase;
  border-bottom: 1px dashed var(--c-grey-white);
}

.nav__link {
  text-decoration: none;
  color: var(--c-grey-white);
}

.nav__link:hover {
  font-weight: 700;
  color: var(--c-blue-white);
}

.hero-name {
  font-family: tenon, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: var(--c-brown1);
}

.hero-title {
  color: var(--c-green2);
}


/* @media (prefers-contrast: more) {
  body {
    background-color: var(--c-brown-dark);
    color: var(--c-white);
  }

  a {
    color: var(--c-yellow);
  }

  h1,
  h2,
  h3 {
    color: var(--c-yellow);
  }

  .menu__link {
    border-bottom: 0.1rem solid var(--c-yellow);
    color: var(--c-white);
  }

  .menu__link:before {
    background-color: var(--c-yellow);
  }

  .menu__link:hover {
    color: var(--c-white);
  }

  main img {
    border: 0.1rem solid var(--c-white);
  }
} */
  

/* MOBILE */
@media screen and (min-width: 375px) {

/* GENERAL STYLES*/
  h1 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s32);
    }
  
  h2 {
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: var(--s16);
    line-height: 1.2rem;
  }
  
  h3 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s24);
    text-transform: uppercase;
    line-height: 1.6rem;
    }
  
  h4 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s40);
    text-transform: uppercase;
    }
  
  h5 {
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: var(--s20);
    text-transform: uppercase;
    }
  
  h6 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s18);
    text-transform: uppercase;
    }

    strong{
      font-weight: 500;
    }

  .strategy_name{
      font-family: psfournier-std, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: var(--s36);
      text-transform: uppercase;
    }

    .bubble-side-text{
      font-family: tenon, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: var(--s16);
      text-transform: uppercase;
      color: var(--c-brown1);
      opacity: 10%;
    }

/* NAVIGATION */
    .nav {
      position: relative;
      z-index: 2;
    }
  
    .nav__button,
    .nav__button:hover {
      background: none;
      border: none;
      cursor: pointer;
      margin-left: auto;
    }
  
    .nav__button--close {
      display: none;
    }
  
    .nav__button--close.visible {
      display: block;
    }
  
    .nav__button--hamburger {
      display: block;
    }
  
    .nav__button--hamburger.hidden {
      display: none;
    }
  
    .nav__list {
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: var(--c-brown1);
      position: absolute;
      width: 100%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
      z-index: 1;
    }
  
    .nav__list.hidden {
      display: none;
    }
  
    .nav__list.visible {
      display: flex;
      flex-direction: column;
    }

    header {
      position: relative;
    }
  
    .logo-menu {
      position: absolute;
      top: 50%;
      left: -5%;
      transform: translateY(-50%);
      z-index: 2;
    }
  
    .logo-menu img {
      max-width: var(--s96);
      height: auto;
    }

/* HERO SECTION */
  .hero-image{
    background-image: url('./src/assets/hero-mobile.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 42vh;
  }



  .hero-line-horizon {
    border-top: 1px dashed var(--c-brown1);
    width: 4rem;
    position: relative;
    top: 2.5rem;
    left: 12.8rem;
  }

  .hero-line-verical {
    border-left: 1px dashed var(--c-brown1);
    height: 6.5rem;
  }



  .dashed-circle {
    display: inline-block;
    width: 6rem; /* Size of the circle */
    height: 6rem;
    border: 2px dashed var(--c-brown1); /* Dashed border color */
    border-radius: 50%; /* Make it a circle */
    position: relative;
    cursor: pointer;
    top: 4.9rem;
    left: 15.9rem;
    animation: spin 4s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .dashed-circle:hover {
    border: 2px dashed var(--c-brown1);
    background-color: var(--c-brown1);
    opacity: 30%;
  }

  .hero-image-text{
    display: none;
  }

  .hero-text{
    margin-top: -0.5rem;
  }

  .hero-name{
    font-size: var(--s18);
    margin: 0;
  }

  .hero-title{
    margin: 0;
    line-height: var(--s40);
  }

/* PLANTIN BUBBLE */
  .plantin-bubble-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    grid-template-rows: repeat(2, 1fr);;
    margin-top: 1rem;
  }

  .plantin-bubble{
    width: 250px;
    height: 250px;
  }

  .plantin-bubble, .plantin-line{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }

  .plantin-line{
    border-left: 2px dashed var(--c-brown1);
    height: 22rem;
    z-index: 0;
  }

  .plantin-bubble-left{
    grid-column: 1 / 3;
    grid-row: 1;
    transform: rotate(-90deg) translateY(-10rem) translateX(0.1rem);
    display: flex;
    align-items: center;
  }

  .plantin-bubble-right {
    grid-column: 1 / 3;
    grid-row: 2;
    transform: rotate(90deg) translateY(-10rem) translateX(-0.1rem);
    display: flex;
    align-items: center;
  }

/* SECTION ABOUT PLANTIN */
  .about-plantin-intro-titles{
    text-align: center;
  }

  .about-plantin-title{
    margin-top: -0.5rem;
  }

  /* .plantin-story-line {
    position: relative;
    width: 100vw;
    border-top: 1px solid var(--c-grey1);
    margin-left: calc(-20%);
    margin-top: 3rem;
  }

  .story-line-bookbinder, 
  .story-line-press,
  .story-line-antwerp{
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--c-blue2);
    border-radius: 50%;
  }

  .story-line-press:hover, 
  .story-line-bookbinder:hover,
  .story-line-antwerp:hover{
    background-color: var(--c-blue2);
  }

    .plantin-storyline-container {
      position: relative;
      width: 100%;
    }
  
    .story-bubbles {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 1rem;
    } */
    

  .plantin-storyline-container {
    position: relative;
    width: 100%;
  }

  .plantin-story-line {
    position: relative;
    width: 90vw;
    border-top: 1px solid var(--c-grey1);
    margin-left: calc(-20%);
    margin-top: 3rem;
  }

  .story-bubbles {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
  }

  .story-bubble {
    text-align: center;
    position: relative;
  }

  .bubble {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--c-blue2);
    background-color: var(--c-blue-white);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .bubble:hover{
    background-color: var(--c-blue2);
  }

  .story-bubble p {
    margin-top: 2.5rem;
    color: var(--c-blue2);
    font-size: var(--s16);
  }

  .storyline-images{
    background-image: url('./src/assets/storyline-frame.png');
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position: relative;
  }

  .storyline-images picture {
    position: absolute;
    z-index: 1;
  }


  
/* PROOFREADER QUEST */
    .proofreader-rectangle {
      border: 2px solid #3003f8;
      padding: 1.4rem;
      width: 21rem;
      font-family: psfournier-std, sans-serif;
      font-weight: 400;
      transition: height 0.3s ease;
      overflow: hidden;
    }
  
    .fa-lightbulb {
      color: var(--c-blue-white);
      font-size: var(--s24);
    }
  
    .solution {
      background-color: #3350E9;
      color: var(--c-blue-white);
      border: 2px solid #ccc;
      width: 21rem;
      padding: 1.4rem;
      font-family: psfournier-std, sans-serif;
      font-weight: 400;
    }
}

.section-ss-intro{
  background-image: url('./src/assets/ss-intro-image.png');
  background-position: left bottom;
  /* background-size: auto, cover; */
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.bible-hover{
  background-image: url('./src/assets/bible.png');
  background-position: left bottom;
  /* background-size: auto, cover; */
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.bible-languages{
  background-image: url('./src/assets/languageglobe.png');
  background-position: left bottom;
  /* background-size: auto, cover; */
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.section-a-intro{
  background-image: url('./src/assets/target-left.png'), url('./src/assets/target-right.png') ;
  background-position: left bottom, right bottom;
  /* background-size: auto, cover; */
  background-repeat: no-repeat, no-repeat;
  width: 100px, 100px;
  height: 100px, 100px;
}

.religious-communities{
  background-image: url('./src/assets/religion-frame.png'), url('./src/assets/religion-paper.png') ;
  background-position: left bottom, right bottom;
  /* background-size: auto, cover; */
  background-repeat: no-repeat, no-repeat;
  width: 100px, 100px;
  height: 100px, 100px;
}

.scholars{
  background-image: url('./src/assets/scholars-frame.png'), url('./src/assets/scholars-paper.png') ;
  background-position: left bottom, right bottom;
  /* background-size: auto, cover; */
  background-repeat: no-repeat, no-repeat;
  width: 100px, 100px;
  height: 100px, 100px;
}

.middle-class{
  background-image: url('./src/assets/middleclass-frame.png'), url('./src/assets/middleclass-paper.png') ;
  background-position: left bottom, right bottom;
  /* background-size: auto, cover; */
  background-repeat: no-repeat, no-repeat;
  width: 100px, 100px;
  height: 100px, 100px;
}

.section-p-intro{
  background-image: url('./src/assets/daughters-left.png'), url('./src/assets/daughters-right.png') ;
  background-position: left bottom, right bottom;
  /* background-size: auto, cover; */
  background-repeat: no-repeat, no-repeat;
  width: 100px, 100px;
  height: 100px, 100px;
}

.section-c{
  background-image: url('./src/assets/handleft.png'), url('./src/assets/handright.png'),url('./src/assets/handfight.png') ;
  background-position: left bottom, right bottom, right bottom;
  /* background-size: auto, cover; */
  background-repeat: no-repeat, no-repeat, no-repeat;
  width: 100px, 100px, 100px;
  height: 100px, 100px, 100px;
}

.section-u{
  background-image: url('./src/assets/fireleft.png'), url('./src/assets/fireright.png') ;
  background-position: left bottom, right bottom;
  /* background-size: auto, cover; */
  background-repeat: no-repeat, no-repeat;
  width: 100px, 100px;
  height: 200px, 200px;
}




/* DESKTOP */

@media screen and (min-width: 960px) {

/* NAVIGATION */
  /* .nav {
       display: flex;
       justify-content: flex-end;
       align-items: center;
       padding: 1rem;
     } */

  .nav__list {
    display: flex !important;
    flex-direction: row;
    position: static;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .nav__item {
    margin: 0 1rem;
  }

  .nav__button {
    display: none;
    /* Hide button on larger screens */
  }


/* HERO SECTION */
  .hero-part {
    background-image: url('./src/assets/hero-desktop.png');
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
  }

  .hero-text{
    display: none;
  }

  .hero-image-text{
    display: contents;
  }

/* PROOFREADER QUEST */
    .proofreader-rectangle {
      border: 2px solid #3003f8;
      padding: 4rem;
      width: 50rem;
      font-family: psfournier-std, sans-serif;
      font-weight: 400;
      transition: height 0.3s ease;
      overflow: hidden;
    }
  
    .fa-lightbulb {
      color: var(--c-blue-white);
      font-size: var(--s26);
    }
  
    .solution {
      background-color: #3350E9;
      border: 2px solid #ccc;
      width: 50rem;
      padding: 2rem;
      font-family: psfournier-std, sans-serif;
      font-weight: 400;
    }

}