html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none;
}

article {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100vw;
}

article:nth-of-type(1) {
  background-color: var(--c-grey-white);
  color: var(--c-grey1);
}

article:nth-of-type(2) {
  background-color: var(--c-grey1);
  color: var(--c-grey-white);
}

:root {

  --s13: 0.813rem;
  --s14: 0.875rem;
  --s16: 1rem;
  --s18: 1.125rem;
  --s20: 1.25rem;
  --s24: 1.5rem;
  --s26: 1.625rem;
  --s30: 1.875rem;
  --s32: 2rem;
  --s36: 2.25rem;
  --s40: 2.5rem;
  --s48: 3rem;
  --s50: 3.125rem;
  --s64: 4rem;
  --s78: 4.875rem;
  --s96: 6rem;
  --s100: 6.25rem;
  --s112: 7rem;
  --s143: 8.938rem;
  --s185: 11.563rem;
  --s234: 14.625rem;
  --s265: 16.563rem;

  --c-blue1: #0C195E;
  --c-blue2: #1C33A3;
  --c-blue3: #3350E9;
  --c-blue4: #CDD0FA;
  --c-blue-white: #EFF0FD;
  --c-green1: #0B1301;
  --c-green2: #223303;
  --c-green3: #3C560A;
  --c-green4: #587B13;
  --c-brown1: #3E1705;
  --c-brown2: #6E2F10;
  --c-brown-white: #FEEDEA;
  --c-brown-white-subtle: #E7E6E6;
  --c-grey1: #212126;
  --c-grey-white: #F1F1F1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--c-grey-white);
  font-family: tenon, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: var(--s18);
  line-height: 1.5;
  color: var(--c-grey1);
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--c-grey1);
}

nav ul,
footer ul {
  list-style: none;
}

button {
  font-size: var(--s13);
  font-family: tenon, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  background-color: var(--c-blue3);
  color: var(--c-blue-white);
  border: 2px dashed var(--c-blue-white);
  padding: 0.8rem 1.6rem;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--c-blue4);
  color: var(--c-grey1);
  border: 2px dashed var(--c-blue3);
}

button:focus,
button:focus-visible {
  background-color: var(--c-blue-white);
  color: var(--c-blue3);
  border: 2px dashed var(--c-blue3);
}

/* PROOFREADER QUEST */
.proofreader-rectangle:focus {
  background-color: var(--c-blue-white);
  color: #1a1a1a;
  border: 2px solid #3003f8;
}

.solution.hidden {
  display: none;
}

.solution.visible {
  display: block;
}

#language-select {
  background: none;
  border: none;
  font-size: var(--s16);
  font-family: tenon, sans-serif;
  font-weight: 500;
  color: var(--c-grey-white);
  cursor: pointer;
  margin-top: var(--s13);
}

#language-select option {
  font-size: var(--s16);
  font-family: tenon, sans-serif;
  font-weight: 500;
  color: var(--c-grey-black);
}

#language-select:focus {
  outline: none;
}

.nav {
  background-color: var(--c-brown1);
}

.nav__item {
  margin: 0.5rem;
  font-family: tenon, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--s16);
  text-transform: uppercase;
  border-bottom: 1px dashed var(--c-grey-white);
}

.nav__link {
  text-decoration: none;
  color: var(--c-grey-white);
}

.nav__link:hover {
  font-weight: 700;
  color: var(--c-blue-white);
}

.hero-name {
  font-family: tenon, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: var(--c-brown1);
}

.hero-title {
  color: var(--c-green2);
}


@media (prefers-contrast: more) {
  body {
    background-color: var(--c-blue-white);
    color: var(--c-green1);
  }

  a {
    color: var(--c-blue3);
  }

  h1,
  h2,
  h3 {
    color: var(--c-blue3);
    font-weight: 800;
  }

  .menu__link {
    border-bottom: 0.1rem solid var(--c-blue3);
    color: var(--c-blue3);
  }

  .menu__link:before {
    background-color: var(--c-blue3);
  }

  .menu__link:hover {
    color: var(--c-green4);
  }

  main img {
    border: 0.1rem solid var(--c-green4);
  }
}

/* MOBILE */
@media screen and (min-width: 375px) {
/* GENERAL STYLES*/
  h1 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s32);
  }

  h2 {
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: var(--s16);
    line-height: 1.2rem;
  }

  h3 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s24);
    text-transform: uppercase;
    line-height: 1.6rem;
  }

  h4 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s40);
    text-transform: uppercase;
  }

  h5 {
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: var(--s20);
    text-transform: uppercase;
  }

  h6 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s18);
    text-transform: uppercase;
  }

  strong {
    font-weight: 500;
  }

  .strategy_name {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s36);
    text-transform: uppercase;
    text-align: center;
  }

  /* NAVIGATION */
  .nav {
    position: relative;
    z-index: 2;
  }

  .nav__button,
  .nav__button:hover {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
  }


  .nav__button--close.visible {
    display: block;
  }

  .nav__button--hamburger {
    display: block;
  }

  .nav__button--hamburger.hidden {
    display: none;
  }

  .nav__list {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--c-brown1);
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    z-index: 1;
  }

  .nav__list.hidden {
    display: none;
  }

  .nav__list.visible {
    display: flex;
    flex-direction: column;
  }

  header {
    position: relative;
  }

  .logo-menu {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .logo-menu img {
    width: var(--s96);
    height: auto;
  }

  /* HERO SECTION */
  .hero-image {
    background-image: url('./assets/hero-mobile.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 42vh;
  }

 .dashed-circle {
   display: inline-block;
   width: 6rem;
   height: 6rem;
   border: 2px dashed var(--c-brown1);
   border-radius: 50%;
   position: relative;
   cursor: pointer;
   top: 11.5rem;
   left: 15.8rem;
   animation: spin 4s infinite linear;
 }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .dashed-circle:hover {
    border: 2px dashed var(--c-brown1);
    background-color: var(--c-brown1);
    opacity: 30%;
  }

  .hero-image-text {
    display: none;
  }

  .hero-text {
    margin-top: -0.5rem;
  }

  .hero-name {
    font-size: var(--s18);
    margin: 0;
  }

  .hero-title {
    margin: 0;
    line-height: var(--s40);
  }


/* PLANTIN BUBBLE */
  .plantin-bubble-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1rem;
  }

  .plantin-bubble {
    width: 250px;
    height: 250px;
  }

  .plantin-bubble,
  .plantin-line {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }

  .plantin-line {
    border-left: 2px dashed var(--c-brown1);
    height: 22rem;
    z-index: 0;
  }


  /* SECTION ABOUT PLANTIN */
  .about-plantin-intro-titles {
    text-align: center;
    margin: 1rem;
  }

  .about-plantin-subtitle{
    margin-bottom: 0.3rem;
  }
    
  .plantin-storyline-container {
    position: relative;
    width: 100%;
  }

  .plantin-story-line {
    position: relative;
    width: 90vw;
    border-top: 1px solid var(--c-grey1);
    margin-left: calc(-20%);
    margin-top: 3rem;
  }

  .story-bubbles {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
  }

  .story-bubble {
    text-align: center;
    position: relative;
  }

  .bubble {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--c-blue2);
    background-color: var(--c-blue-white);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .bubble:active
  .bubble:hover
  .bubble:focus{
    background-color: var(--c-blue2);
  }

  .bubble.selected {
    background-color: var(--c-blue2);
  }

  .story-bubble p {
    margin-top: 2.5rem;
    color: var(--c-blue2);
    font-size: var(--s16);
  }

  .storyline-images-frame {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 4rem;
    margin-bottom: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .storyline-frame {
    position: absolute;
    width: 350px;
  }

  .storyline-images {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    transform: translateY(30%);
  }

  .antwerp{
    transform: translateY(30%);
  }


/* MARKETING GENIUS */
  .section-marketing-genius{
    margin-bottom: 2rem;
  }

  .marketing-genius-titles{
    text-align: center;
    margin-bottom: 1rem;
  }

  .marketing-genius-subtitle{
    margin-bottom: 0.3rem;
  }

  .marketing-genius-textone{
    margin-bottom: 0.5rem;
  }

  .genius-frame{
    display: flex;
    justify-self: center;
    margin-bottom: 1rem;
    width: 300px;
    height: 300px;
  }
  
  .marketing-genius-statements{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .strategies-button{
    display: flex;
    justify-self: center;
    background-color: var(--c-grey1);
  }


/* IDENTITY BUBBLE */
  .identity-bubble-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .identity-bubble{
    width: 250px;
    height: 250px;
  }

  .identity-bubble, .identity-line{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }

  .identity-line{
    border-left: 2px dashed var(--c-brown1);
    height: 22rem;
    z-index: 0;
  }

/* SECTION IDENTITY */
  .section-identity-titles{
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .section-identity-titleone{
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5rem;
    line-height: 2.5rem;
  }

  .section-identity-subtitle{
    margin-bottom: 0.5rem;
  }


/* SECTION GUESS LOGO */
  .section-guess-logo{
    margin-bottom: 2rem;
    background-color: #D4D8CB;
    margin-left: calc(-1rem);
    margin-right: calc(-1rem);
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 2px 5px #929291;
  }

 .guess-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(2.5rem);
  }

  .questionmark-green {
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
  }

  .guess-logo-line {
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: var(--c-green2);
    z-index: 0;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .logo-frame img {
    z-index: 0;
    width: 270px;
  }

  .logo img {
    z-index: 1;
    position: absolute;
    width: 160px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .meter-circle, 
  .compases-circle, 
  .sharpener-circle{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1px solid var(--c-brown1);
    background-color: var(--c-blue-white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .meter-circle:hover, 
  .compases-circle:hover, 
  .sharpener-circle:hover,
  .meter-circle:active, 
  .compases-circle:active, 
  .sharpener-circle:active,
  .meter-circle:focus, 
  .compases-circle:focus, 
  .sharpener-circle:focus{
    background-color: #D4D8CB;
  }

  .compasessmall img, .meter img, .sharpener img {
    width: 70px;
    object-fit: contain;
  }

  .tools-and-instructions-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
  }

  .tools-container {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
  }

  .logo-instruction-line {
    position: relative;
    border-top: 1px solid var(--c-brown1);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .instructions-logo-desc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  .instructions-logo {
    font-family: tenon, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: var(--s14);
    color: var(--c-brown1);
  }

  .fa-info-circle {
    color: var(--c-brown1);
  }

  .blinking-red {
    animation: blink-red 1s infinite;
  }

  @keyframes blink-red {
    0%, 100% {
      background-color: #D61212;
    }
    50% {
      background-color: var(--c-blue-white);
    }
  }
  .logo.hidden img {
    display: none;
  }

  .logo.visible img {
    display: block;
  }



/* SECTION IDENTITY LOGO */
  .section-identity-logo{
    padding-top: 3rem;
  }

  .section-identity-logo-titles{
    text-align: center;
  }

  .section-identity-logo-back{
    color: #223303;
    opacity: 7%;
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s78);
    line-height: 0;
  }

  .section-identity-logo-front{
    transform: translateY(-1.5rem);
  }

  .logo-one img{
    width: 300px;
    display: flex;
    justify-self: center;
    margin-bottom: 1rem;
  }

  .logo-one-title{
    padding-bottom: 0.3rem;
  }


/* SECTION IDENTITY BRAND */
  .section-identity-brand{
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .section-identity-brand-titles {
    text-align: center;
  }

  .section-identity-brand-back {
    color: #223303;
    opacity: 7%;
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s78);
    line-height: 0;
  }

  .section-identity-brand-front {
    transform: translateY(-1.5rem);
  }

  .identity-brand-desc{
    margin-bottom: 2rem;
  }

  .identity-brand-title{
    padding-bottom: 0.3rem;
  }

  .book-collection img{
    width: 300px;
    display: flex;
    justify-self: center;
  }

  .uniform-style-desc{
    margin-top: 2rem;
  }

  .uniform-style-title{
    padding-bottom: 0.3rem;
  }


/* STRATEGIES BUBBLE CONTAINER */
   .strategies-bubble-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .strategies-bubble{
    width: 250px;
    height: 250px;
  }

  .strategies-bubble, .marketing-line{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }

  .marketing-line{
    border-left: 2px dashed var(--c-brown1);
    height: 22rem;
    z-index: 0;
  }


/* SECTION STRATEGIES INTRO */
  .section-strategies-intro{
    margin-top: 2rem;
  }

  .section-strategies-intro-titles{
    text-align: center;
    padding-bottom: 0.7rem;
  }

  .section-strategies-intro-title{
    font-size: var(--s78);
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 4rem;
  }

  .section-strategies-intro-subtitle{
    line-height: 2.3rem;
  }

  .strategy_names{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.2rem;
  }

  .strategy_name{
    line-height: 2rem;
  }

  .graph{
    display: flex;
    justify-self: center;
    padding-bottom: 3rem;
  }


/* BLACK & WHITE DIVISION */
  .big-black-text {
    font-family: tenon, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: var(--s78);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3.7rem;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    margin-bottom: -0.45rem;
    padding-left: 0;
    padding-right: 0;
    color: var(--c-grey1);
    -webkit-text-stroke: 1px var(--c-blue3);
  }


/* BLACK ARTICLE */
  .black-article{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .black-article-intro{
    text-align: center;
    color: var(--c-blue4);
    font-size: var(--s20);
    line-height: 1.5rem;
  }


/*  WHITE LETTERS CIRCLES STARTEGIES */
  .social-status-container, 
  .audiences-container, 
  .proofreaders-container,
  .collectors-container,
  .ultimate-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .social-status, 
  .audiences,
  .proofreaders,
  .collectors,
  .ultimate {
    width: 150px;
  }

  .social-status,
  .audiences,
  .proofreaders,
  .collectors,
  .ultimate,
  .social-status-line,
  .audiences-line,
  .proofreaders-line,
  .collectors-line,
  .ultimate-line {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }

  .white-strategy-line {
    border-left: 1px dashed var(--c-blue-white);
    height: 15rem;
    z-index: 0;
  }

  .collectors-container{
    margin-bottom: 4rem;
  }

  .audiences-container{
    margin-bottom: 3rem;
    margin-top: 4rem;
  }


/* SECTION SS INTRO */
  .section-ss-intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  .section-ss-intro-titles{
    background-image: url('./assets/ss-intro-image.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .strategy-name-titles{
    text-align: center;
  }

  .strategy_name-subtitle{
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
  }

  .section-ss-intro-textone{
    padding-bottom: 0.5rem;
  }
  

/* SECTION SS BIBLE */
  .section-ss-bible-title{
    padding-bottom: 0.5rem;
  }

  .bible-hover-images {
    background-image: url('./assets/bible.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    position: relative;
  }

  .bible-hover {
    margin-top: 2rem;
    margin-bottom: 3.5rem;
  }

  .bible-hover-text {
    font-size: var(--s16);
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px dashed var(--c-blue3);
    justify-self: center;
  }

  .bible-hover-top-text, .bible-hover-bottom-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .map img {
    width: 130px;
    position: absolute;
    top: 40%;
    left: 7%;
  }

  .ornate img {
    width: 60px;
    position: absolute;
    top: 20%;
    left: 70%;
  }

  .snake img {
    width: 100px;
    position: absolute;
    top: 45%;
    left: 55%;
  }

  
  .bible-hover-page,
  .bible-hover-ornate,
  .bible-hover-map,
  .bible-hover-woodcut{
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: var(--s14);
  }

  .linguistic-diversity{
    font-size: var(--s18);
    font-family: psfournier-std, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }

  .linguistic-diversity-text{
    margin-bottom: 2rem;
  }

  .bible-languages-container {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bible-languages-globe {
    background-image: url('./assets/languageglobe.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 5s linear infinite;
  }

  .bible-languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    position: relative;
  }

  .bible-languages p {
    font-family: psfournier-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: var(--c-blue3);
    margin: 0;
    text-align: center;
    flex: 0 1 auto;
    white-space: nowrap;
  }


/* SECTION SS QUEST */
  .section-ss-quest{
    margin-top: 3.5rem;
    margin-bottom: 2rem;
  }

  .ss-quest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2rem;
  }

  .questionmark-blue-s {
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
  }

  .ss-quest-line{
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: var(--c-blue3);
    z-index: 0;
  }

  .ss-quest-undertext{
    position: absolute;
    width: 100vw;
    z-index: 0;
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s40);
    text-align: center;
    color: #82828417;
  }

  .ss-quest-title{
    padding-bottom: 0.5rem;
  }

  .ss-quest-textone{
    padding-bottom: 0.5rem;
  }

  .ss-quest-texttwo{
    padding-bottom: 1rem;
  }

  .flipcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .card {
    perspective: 1000px;
  }

  .flipcard-inner {
    position: relative;
    width: 300px;
    height: 300px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
  }

  .card-front {
    z-index: 1;
  }

  .card-back {
    transform: rotateY(180deg);
  }

  .card.flip .flipcard-inner {
    transform: rotateY(180deg);
  }


/* SECTION A INTRO */
  .section-a-intro-titles{
    background-image: url('./assets/target-left.png'), url('./assets/target-right.png');
    background-position: -15% center, 115%center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  .section-a-intro-text{
    padding-bottom: 0.5rem;
  }


/* SECTION A AUDIENCES */
  .section-a-audiences{
    margin-top: 3rem;
  }

  .ink-circle-container{
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
  }

  .ink-circle{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: var(--c-blue-white);
    border: 1px solid var(--c-green1);
    z-index: 0;
    position: absolute;
  }

  .ink-circle-w-instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inktampon{
    z-index: 2;
    position: relative;
    width: 60px;
    transform: translateY(-1rem);
  }

  .ink-icon{
    color: var(--c-blue-white);
    font-size: var(--s14);
    padding: 0.3rem;
  }

  .ink-instructions{
    font-size: var(--s14);
  }

  
  .religious-communities,
  .scholars,
  .middle-class{
    margin-bottom: -3rem;
  }

  .catering-religius-frame {
    background-image: url('./assets/religion-frame.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
  }

  .catering-religius-title, 
  .appealing-scholars-title,
  .middle-class-title {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: var(--s16);
  }

  .religius-communities-text,
  .appealing-scholars-text,
  .middle-class-text{
    padding-top: 1rem;
    font-family: psfournier-std, sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .religius-communities-textone{
    background-image: url('./assets/religion-paper.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    color: var(--c-grey1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: var(--s16);
    padding-left: 2rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .maria img{
    width: 100px;
    transform: translate(230%, -225%);
  }

  .appealing-scholars-frame{
    background-image: url('./assets/scholars-frame.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
  }

  .appealing-scholars-title{
    padding-top: 0.5rem;
  }

  .appealing-scholars-textone{
    background-image: url('./assets/scholars-paper.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    color: var(--c-grey1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: var(--s16);
    padding-left: 2rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
  }

  .scholargraph img{
    width: 150px;
    transform: translate(120%, -230%);
  }

  .middleclass img{
    width: 150px;
    transform: translate(120%, -370%);
  }

  .middle-class{
    margin-bottom: -3rem;
  }

  .middle-class-texttwo{
    margin-right: 1rem;
    transform: translateY(-1rem);
  }

  .appealing-scholars-texttwo{
    margin-left: 1rem;
    margin-right: 1rem;
    transform: translateY(-1rem);
  }

  .middle-class-frame {
    background-image: url('./assets/middleclass-frame.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
  }

  .middle-class-textone{
    background-image: url('./assets/middleclass-paper.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    color: var(--c-grey1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: var(--s16);
    padding-left: 2rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
  }


/* SECTION P INTRO */
  .section-p-intro-titles{
    background-image: url('./assets/daughters-left.png'), url('./assets/daughters-right.png');
    background-position: -10% center, 110%center;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    width: 100%, 100%;
    height: auto, auto;
    padding-bottom: 3rem;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
    margin-bottom: -1.5rem;
  }


/* SECTION P QUEST */
  .section-p-quest{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .p-quest-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .p-quest-undertext{
    position: absolute;
    width: 100vw;
    z-index: 0;
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    color: #82828417;
    text-transform: uppercase;
  }

  .questionmark-blue-p{
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
  }

  .p-quest-line{
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: var(--c-blue3);
    z-index: 0;
  }

  .p-quest-desc{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .p-quest-desc p{
    font-weight: 200;
    padding-top: 0.3rem;
    font-size: var(--s16);
  }
  

/* PROOFREADER QUEST */
  .proofreader-container{
    justify-self: center;
  }
  
  .proofreader-rectangle {
    border: 2px solid #3003f8;
    padding: 1.4rem;
    width: 21rem;
    font-family: psfournier-std, sans-serif;
    font-weight: 400;
    transition: height 0.3s ease;
    overflow: hidden;
  }

  .fa-lightbulb {
    color: var(--c-blue-white);
    font-size: var(--s24);
  }

  .fa-times{
    font-size: 1.5rem;
    display: flex;
    justify-self: flex-end;
  }

  .solution-titles{
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    padding-bottom: 1rem;
  }

  .solution-title{
    font-family: tenon, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 0.5rem;
  }

  .solution {
    background-color: #3350E9;
    color: var(--c-blue-white);
    border: 2px solid #ccc;
    width: 21rem;
    padding: 1.4rem;
    font-family: psfournier-std, sans-serif;
    font-weight: 400;
  }

  .solution strong{
    font-family: tenon, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .solution-button{
    display: flex;
    justify-self: center;
    margin-top: 1.5rem;
  }

  .proofreader-left img{
    transform: scaleX(-1);
    width: 100px;
    padding-top: 1rem;
    display: flex;
    justify-self: center;
  }

  .proofreader-right{
    display: none;
  }


/* SECTION C INTRO */
  .section-c-intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    background-image: url('./assets/handfight.png');
    background-position: bottom left;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  .section-c-intro-titles{
    background-image: url('./assets/handleft.png'), url('./assets/handright.png');
    background-position: -15% center, 115%center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
  }

  .section-c-intro-textone{
    padding-bottom: 0.5rem;
  }

  .section-c-intro-texttwo{
    margin-top: 1rem;
  }


/* SECTION U INTRO */
  .section-u-intro{
    margin-bottom: 4rem;
  }

  .section-u-intro-titles{
    background-image: url('./assets/fireleft.png'), url('./assets/fireright.png');
    background-position: -15% center, 115%center;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    width: 100%, 100%;
    height: auto, auto;
    padding-bottom: 3rem;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  .section-u-texttwo{
    padding-top: 1rem;
  }

  .tickets-button{
    display: flex;
    justify-self: center;
    margin-top: 1rem;
  }


/* SECTION STORIES */
  .storybook img{
    width: 100px;
    display: flex;
    justify-self: center;
    padding-bottom: 1.5rem;
  }

  .stories-title{
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .explore-button{
    display: flex;
    justify-self: center;
    margin-top: 1rem;
  }


/* BUTTONS IN THE END */
  .tickets-button,
  .explore-button {
  background-color: var(--c-blue-white);
  color: var(--c-blue3);
  border: 2px dashed var(--c-blue3);
  padding: 0.8rem 1.6rem;
  transition: border-color 0.25s;
  }

  .tickets-button:hover,
  .explore-button:hover {
    background-color: var(--c-grey1);
    color: var(--c-blue-white);
    border: 2px dashed var(--c-blue3);
  }

  .tickets-button:focus,
  .tickets-button:focus-visible,
  .explore-button:focus,
  .explore-button:focus-visible {
    background-color: var(--c-blue3);
    color: var(--c-blue-white);
    border: 2px dashed var(--c-blue-white);
  }


/* FOOTER */
  footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .footer-info{
    text-align: center;
    margin-bottom: 2rem;
  }

  .museum-name{
    font-weight: 500;
  }

  .footer-info p {
  font-size: var(--s16);
  color: var(--c-grey1);
  }

  .footer-info p a {
    color: var(--c-green1);
    text-decoration: none;
  }

  .footer-info p a:hover {
    text-decoration: underline;
  }

  .footer-navigation{
    text-align: center;
    margin-bottom: 2rem;
  }

  .footer-social{
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .follow-us{
    text-align: center;
    padding-bottom: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .social-icons{
    display: flex;
    gap: 2rem;
  }

  .social-icons i{
    font-size: 2rem;
    color: var(--c-blue3);
  }

  .social-icons i:hover,
  .social-icons i:focus{
    font-size: 2rem;
    color: var(--c-green1);
  }

  .footer-navitem {
    font-family: tenon, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--s16);
    text-transform: uppercase;
    border-bottom: 1px dashed var(--c-blue3);
  }

  .footer__navlink:hover {
    font-weight: 700;
    color: var(--c-blue3);
  }
}


/* DESKTOP */
@media screen and (min-width: 960px) {
/* GENERAL STYLES*/
  h1 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
  }

  .hero-title{
    line-height: 1;
  }

  h2 {
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: var(--s26);
    line-height: 3rem;
  }

  h3 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s50);
    text-transform: uppercase;
    line-height: 5rem;
  }

  h4 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s96);
    text-transform: uppercase;
    line-height: 6rem;
  }

  h5 {
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: var(--s36);
    text-transform: uppercase;
  }

  h6 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s20);
    text-transform: uppercase;
  }

  .strategy_name {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s78);
    text-transform: uppercase;
    text-align: center;
  }

/* NAVIGATION */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .nav__list {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 0;
  }

  .nav__item{
    font-weight: 400;
  }

  #language-select {
  position: absolute;
  right: 1rem;
  top: 10%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 1rem;
  }

  .nav__button {
    display: none;
  }

  .logo-menu img{
    width: var(--s143);
    height: auto;
  }

  .logo-menu {
    top: 2rem;
    left: -2rem;
  }


/* HERO SECTION */
  .hero-image{
    background-image: url('./assets/hero-desktop.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin-top: -4rem;
    margin-bottom: -5rem;
    display: flex;
    justify-content: center;
  }

  .hero-image-text {
    display: contents;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    transform: translateX(15%);
  }

  .hero-text {
    display: none;
  }

  .dashed-circle{
    display: none;
  }

/* BUBBLE BROWN CONTAINERS */
  .plantin-bubble-container,
  .identity-bubble-container,
  .strategies-bubble-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1rem;
  }

  .plantin-bubble,
  .identity-bubble,
  .strategies-bubble {
    width: 400px;
    height: 400px;
  }

  .plantin-bubble,
  .identity-bubble,
  .strategies-bubble,
  .identity-line,
  .marketing-line,
  .plantin-line {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }

  .plantin-line,
  .identity-line,
  .marketing-line {
    border-left: 2px dashed var(--c-brown1);
    height: 30rem;
    z-index: 0;
  }

  .identity-bubble-container{
    margin-top: 6.5rem;
  }

  .plantin-bubble-container{
    margin-bottom: 5rem;
  }


/* SECTION ABOUT PLANTIN */
  .section-about-plantin{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .about-plantin-intro-titles{
    grid-column: 1 / 10;
    grid-row: 1 ;
  }

  .about-plantin-subtitle{
    margin-bottom: -1.5rem;
  }

  .about-plantin-intro-text{
    grid-column: 1 / 6;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: center;
    padding-left: 1rem;
  }

  .plantin-storyline-container{
    grid-column: 1 / 6;
    grid-row: 4;
    display: flex;
    align-self: flex-start;
  }

  .storyline-images-frame {
    width: 350px;
    grid-column: 6 / 10;
    grid-row: 2 / 5;
    display: flex;
    justify-self: center;
    align-items: center;
    margin: 0;
  }

  .storyline-images {
    transform: translateY(0%);
  }

  .antwerp{
    transform: translateY(0%);
  }

  .plantin-story-line {
    width: 52vw;
  }

  .story-bubbles {
    top: 2rem;
  }


/* SECTION MARKETING GENIUS */
  .section-marketing-genius{
    margin-bottom: 3rem;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .marketing-genius-subtitle{
    margin-bottom: -1.5rem;
  }

  .marketing-genius-titles{
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    margin-bottom: 2rem;
  }

  .genius-frame{
    width: 400px;
    height: 400px;
    grid-column: 1 / 5;
    grid-row: 2 / 8;
    display: flex;
    justify-self: center;
    margin-top: -1rem;
  }

  .marketing-genius-textone{
    grid-column: 5 / 11;
    grid-row: 2 / 3;
  }

  .marketing-genius-texttwo{
    grid-column: 5 / 11;
    grid-row: 3 / 4;
  }

  .marketing-genius-textthree{
    grid-column: 5 / 11;
    grid-row: 3 / 5;
    align-self: center;
    padding-top: 1rem;
  }

  .marketing-genius-statements{
    grid-column: 5 / 11;
    grid-row: 4;
    align-self: flex-end;
  }

  .strategies-button{
    grid-column: 5 / 8;
    grid-row: 5;
    overflow: hidden;
    align-self: flex-start;
    justify-self: flex-start;
  }

  
/* SECTION IDENTITY */
  .section-identity-titleone{
    font-size: var(--s234);
    line-height: 10rem;
  }

  .section_idenity_text{
    padding-left: 5rem;
    padding-right: 5rem;
  }


/* SECTION GUESS LOGO */
  .guess-logo-container{
    margin-bottom: -2.1rem;
  }

  .questionmark-green{
    width: 150px;
    height: 150px;
  }

  .section-guess-logo{
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 4rem;
  }

  .guess_logo-intro{
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }

  .tools-and-instructions-wrapper{
    grid-column: 1;
    grid-row: 2;
    margin-top: 2rem;
  }

  .logo-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
  }

  .logo img {
    width: 170px;
    height: auto;
  }

/* SECTION IDENTITY LOGO */
  .section-identity-logo-front {
    transform: translateY(-2.5rem);
  }

  .section-identity-logo{
    padding-left: 2rem;
  }

  .identity-logo-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .logo-one img {
    grid-column: 2;
    grid-row: 1;
    width: 350px;
  }

  .identity-logo-grid-text{
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }

  .logo-one-text{
    font-weight: 300;
  }


/* SECTION IDENTITY BRAND */
  .section-identity-brand-front {
    transform: translateY(-2.5rem);
  }

  .section-identity-brand {
    margin-top: 9rem;
    margin-bottom: 4rem;
    display: grid;
  }

  .identity_brand_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    margin-left: 2rem;
  }

  .book-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1 / 3;
    transform: rotate(90deg);
  }

  .book-collection img {
    width: 60%;
  }

  .section-strategies-intro-titles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .section-strategies-intro-title{
    font-size: var(--s185);
    line-height: 10rem;
    justify-self: flex-end;
  }

  .section-strategies-intro-subtitle{
    line-height: 4rem;
    font-size: var(--s64);
    text-align: left;
    align-self: center;
  }

  .about_strategies_textgrid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
  }

  .about_strategies_text{
    grid-column: 2 / 10;
    grid-row: 1;
  }

  .strategy_name-subtitle{
    line-height: 4rem;
  }

  .strategy_names{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

/* BLACK ARTICLE */
  .big-black-text {
    font-size: 10.5rem;
    line-height: 8rem;
    margin-bottom: -0.92rem;
  }

  .black-article-intro{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: var(--s26);
  }

/*  WHITE LETTERS CIRCLES STARTEGIES */
  .social-status,
  .audiences,
  .proofreaders,
  .collectors,
  .ultimate {
    width: 250px;
  }

  .white-strategy-line {
    height: 25rem;
  }

/* SECTION SS INTRO */
  .section-ss-intro-titles{
    background-image: url('./assets/ss-intro-image.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-bottom: 10rem;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -7rem;
  }

  .ss-intro_texts{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .section-ss-intro-textone{
    grid-column: 2 / 6;
    grid-row: 1;
  }

  .section-ss-intro-texttwo{
    grid-column: 2 / 6;
    grid-row: 2;
  }

/* SECTION SS BIBLE */
  .section-ss-bible-title,
  .section-ss-bible-text{
    text-align: center;
  }

  .bible-hover-text{
    justify-self: center;
  }

  .section-ss-bible-title {
    padding-top: 3rem;
  }

  .bible-hover {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .bible-hover-text {
    margin-bottom: 3rem;
  }

  .bible-hover-top-text,
  .bible-hover-bottom-text {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .map img {
    width: 250px;
    top: 40%;
    left: 21%;
  }

  .ornate img {
    width: 130px;
    top: 13%;
    left: 65%;
  }

  .snake img {
    width: 200px;
    top: 42%;
    left: 55%;
  }

  .bible-hover-images {
    background-image: url('./assets/bible.png');
    width: 100%;
    height: 400px;
  }

  .linguistic-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    margin-bottom: 13rem;
  }

  .linguistic-grid-text {
    grid-column: 2 /6;
    grid-row: 1;
    align-self: center;
    margin-left: -4rem;
  }

  .bible-languages-container {
    grid-column: 6 / 10;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bible-languages-globe {
    height: 300px;
  }

  .bible-languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  .linguistic-diversity-text {
    margin-bottom: -1rem;
  }

/* SECTION SS QUEST */
  .ss-quest-undertext{
    font-size: 7rem;
    line-height: 7rem;
  }

  .section-ss-quest-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 3rem;
    margin-top: 4rem;
  }

  .ss-quest-title{
    grid-column: 1 / 3;
    grid-row: 1;
    align-self: center;
  }

  .ss-quest-textone{
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .ss-quest-texttwo{
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .flipcard{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 0;
  }

  .flipcard-inner {
    width: 320px;
    height: 320px;
  }

/* SECTION A INTRO */
  .section-a-intro-titles{
    background-image: none
  }

  .a_introtext-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }

  .section-a-intro-text{
    grid-column: 2 / 6;
    grid-row: 1;
  }

  .section-a-intro{
    background-image: url('./assets/target-left.png'), url('./assets/target-right.png');
    background-position: -3% center, 103% center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  .section-a-intro-text{
    margin-top: 1.5rem;
    padding-bottom: 0.5rem;
  }


/* SECTION A AUDIENCES */
  .religious-communities {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .ink-circle-w-instructions {
    position: absolute;
    right: 0;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    z-index: 2;
  }

  .ink-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .ink-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--c-blue-white);
    border: 1px solid var(--c-green1);
    z-index: 0;
  }

  .inktampon-religion {
    z-index: 1;
    position: relative;
    width: 60px;
    transform: translateY(-1rem);
  }

  .ink-icon {
    color: var(--c-blue-white);
    font-size: var(--s14);
    padding: 0.3rem;
  }

  .ink-instructions {
    font-size: var(--s14);
    margin-top: 1rem;
  }

  .ink-circle-container:nth-child(2) {
  display: none;
  }

  .ink-circle-container:nth-child(3) {
  display: none;
  }

  .section-a-audiences{
    margin-top: 10rem;
  }

  .religious-communities,
  .scholars,
  .middle-class{
    margin-top: 5rem;
  }

  .catering-religius-frame {
    background-image: url('./assets/religion-frame.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
    margin-bottom: -1rem;
  }

  .catering-religius-title, 
  .appealing-scholars-title,
  .middle-class-title {
    font-size: var(--s26);
  }

  .religius-communities-text {
    background-image: url('./assets/religion-paper.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 550px;
    min-height: 350px;
    color: var(--c-grey1);
    font-size: var(--s16);
    padding-left: 2rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    box-sizing: border-box;
    overflow-wrap: break-word;
    position: relative;
  }

  .religius-communities-texttwo{
    transform: translateY(-7rem);
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .maria {
    position: relative;
    transform: translateY(150%);
  }

  .maria img {
    width: 170px;
  }

  .religius-communities-textone{
    background-image: none;
  }

  .appealing-scholars-frame{
    background-image: url('./assets/scholars-frame.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
    margin-bottom: -1rem;
  }

  .appealing-scholars-text{
    background-image: url('./assets/scholars-paper.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 550px;
    min-height: 350px;
    color: var(--c-grey1);
    font-size: var(--s16);
    padding-left: 2rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    box-sizing: border-box;
    overflow-wrap: break-word;
    position: relative;
  }

  .appealing-scholars-textone{
    background-image: none;
  }

  .scholars{
    justify-self: flex-end;
  }

  .middle-class-frame {
    background-image: url('./assets/middleclass-frame.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
    margin-bottom: -1rem;
  }

  .middle-class-text{
    background-image: url('./assets/middleclass-paper.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 550px;
    min-height: 350px;
    color: var(--c-grey1);
    font-size: var(--s16);
    padding-left: 2rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    box-sizing: border-box;
    overflow-wrap: break-word;
    position: relative;
  }

  .middle-class-textone {
    background-image: none;
  }

  .middle-class{
    margin-bottom: -2rem;
  }

  .middle-class-texttwo{
    transform: translateY(-4rem);
  }

/* SECTION P INTRO */
  .p_introtext-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }

  .section-p-intro-text {
    grid-column: 2 / 6;
    grid-row: 1;
  }

  .section-p-intro{
    background-image: url('./assets/daughters-left.png'), url('./assets/daughters-right.png');
    background-position: -3% center, 103% center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-bottom: 4rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  .section-p-intro-titles{
      background-image: none
  }

  .strategy_name-subtitle{
    line-height: 5rem;
  }

  .section-p-intro-text{
    margin-top: 1rem;
  }

  .p-quest-undertext{
    font-size: 4rem;
  }

/* PROOFREADER QUEST */
  .section-p-quest{
    margin-top: 5rem;
    margin-bottom: -2rem;
  }

  .proofreader-container{
    justify-self: center;
  }

  .proofreader-rectangle {
    border: 2px solid #3003f8;
    padding: 2rem;
    width: 35rem;
    font-family: psfournier-std, sans-serif;
    font-weight: 400;
    transition: height 0.3s ease;
    overflow: hidden;
  }

  .fa-lightbulb {
    color: var(--c-blue-white);
    font-size: var(--s26);
  }

  .solution {
    background-color: #3350E9;
    border: 2px solid #ccc;
    width: 35rem;
    padding: 2rem;
    font-family: psfournier-std, sans-serif;
    font-weight: 400;
  }

  .proofreader-right{
    display: block;
  }

  .proofreader-left img,
  .proofreader-right img{
    width: 150px;
  }

  .proofreader-left img{
    margin-top: -1rem;
  }

  .proofreaders-w-rectangle{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .proofreader-left{
    grid-column: 1;
    grid-row: 1 / 2;
  }

  .proofreader-right{
    grid-column: 6;
    grid-row: 1 / 2;
  }

  .proofreader-container{
    grid-column: 2 / 6;
    grid-row: 1 / 2;
  }

  .solution-button{
    grid-column: 3 / 5;
    grid-row: 2;
    align-self: flex-start;
    justify-self: center;
  }

/* SECTION C INTRO */
  .c_introtext-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    margin-top: 1rem;
  }

  .section-c-intro-textone{
    grid-column: 2 / 6;
    grid-row: 1;
  }

  .section-c-intro{
    background-image: url('./assets/handleft.png'), url('./assets/handright.png');
    background-position: -30% center, 130% center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  .section-c-intro-titles{
      background-image: none
  }

  .section-p-intro-text{
    margin-top: 1rem;
  }

  .c-intro-backgroundimg{
    transform: translateY(3rem);
    margin-bottom: 2.5rem;
    background-image: url('./assets/handfight.png');
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 6rem;
    padding-top: 5rem;
    margin-left: 8rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
  }

  .section-c-intro-texttwo{
    grid-column: 2 / 8;
    grid-row: 1;
  }

/* SECTION U */
  .ultimate-container{
    margin-top: 25rem;
  }

/* SECTION U INTRO */
  .u_introtext-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 2rem;
    margin-top: 1.5rem;
  }

  .section-u-textone{
    grid-column: 3 / 9;
    grid-row: 1;
  }

  .section-u-texttwo{
    grid-column: 3 / 9;
    grid-row: 2;
  }

  .section-u-intro{
    background-image: url('./assets/fireleft.png'), url('./assets/fireright.png');
    background-position: -20% center, 120% center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  .section-u-intro-titles{
      background-image: none
  }

/* SECTION STORIES */
  .section-stories{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .storybook {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    align-self: center;
    justify-self: center;
  }

  .storybook img {
    width: 100%;
    max-width: 170px;
    height: auto;
  }

  .stories-title{
    grid-column: 3 / 7;
    grid-row: 1;
    font-size: var(--s36);
    justify-self: flex-start;
    align-self: flex-end;
    padding-bottom: 0;
  }

  .stories-text{
    grid-column: 3 / 7;
    grid-row: 2;
  }

  .explore-button{
    grid-column: 3 / 5;
    grid-row: 3;
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 0rem;
  }

  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: -2rem;
  }
}

@media screen and (min-width: 500px) {
  
  .dashed-circle{
    display: none;
  }
}

@media screen and (min-width: 1024px) {

  .proofreader-rectangle {
    width: 40rem;
  }

  .solution {
    width: 40rem;
  }
}