html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none;
}

article {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100vw;
}

article:nth-of-type(1) {
  background-color: var(--c-grey-white);
  color: var(--c-grey1);
}

article:nth-of-type(2) {
  background-color: var(--c-grey1);
  color: var(--c-grey-white);
}

:root {

  --s13: 0.813rem;
  --s14: 0.875rem;
  --s16: 1rem;
  --s18: 1.125rem;
  --s20: 1.25rem;
  --s24: 1.5rem;
  --s26: 1.625rem;
  --s30: 1.875rem;
  --s32: 2rem;
  --s36: 2.25rem;
  --s40: 2.5rem;
  --s48: 3rem;
  --s50: 3.125rem;
  --s64: 4rem;
  --s78: 4.875rem;
  --s96: 6rem;
  --s100: 6.25rem;
  --s112: 7rem;
  --s143: 8.938rem;
  --s185: 11.563rem;
  --s234: 14.625rem;
  --s265: 16.563rem;

  --c-blue1: #0C195E;
  --c-blue2: #1C33A3;
  --c-blue3: #3350E9;
  --c-blue4: #CDD0FA;
  --c-blue-white: #EFF0FD;
  --c-green1: #0B1301;
  --c-green2: #223303;
  --c-green3: #3C560A;
  --c-green4: #587B13;
  --c-brown1: #3E1705;
  --c-brown2: #6E2F10;
  --c-brown-white: #FEEDEA;
  --c-brown-white-subtle: #E7E6E6;
  --c-grey1: #212126;
  --c-grey-white: #F1F1F1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--c-grey-white);
  font-family: tenon, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: var(--s18);
  line-height: 1.5;
  color: var(--c-grey1);
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--c-blue3);
}

nav ul,
footer ul {
  list-style: none;
}

button {
  font-size: var(--s13);
  font-family: tenon, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  background-color: var(--c-blue3);
  color: var(--c-blue-white);
  border: 2px dashed var(--c-blue-white);
  padding: 0.8rem 1.6rem;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--c-blue4);
  color: var(--c-grey1);
  border: 2px dashed var(--c-blue3);
}

button:focus,
button:focus-visible {
  background-color: var(--c-blue-white);
  color: var(--c-blue3);
  border: 2px dashed var(--c-blue3);
}

/* PROOFREADER QUEST */
.proofreader-rectangle:focus {
  background-color: var(--c-blue-white);
  color: #1a1a1a;
  border: 2px solid #3003f8;
}

/* .proofreader-container {
} */
.solution.hidden {
  display: none;
}

.solution.visible {
  display: block;
}

#language-select {
  background: none;
  border: none;
  font-size: var(--s16);
  font-family: tenon, sans-serif;
  font-weight: 500;
  color: var(--c-grey-white);
  cursor: pointer;
  margin-top: var(--s13);
}

#language-select option {
  font-size: var(--s16);
  font-family: tenon, sans-serif;
  font-weight: 500;
  color: var(--c-grey-black);
}

#language-select:focus {
  outline: none;
}

.nav {
  background-color: var(--c-brown1);
}

.nav__item {
  margin: 0.5rem;
  font-family: tenon, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--s16);
  text-transform: uppercase;
  border-bottom: 1px dashed var(--c-grey-white);
}

.nav__link {
  text-decoration: none;
  color: var(--c-grey-white);
}

.nav__link:hover {
  font-weight: 700;
  color: var(--c-blue-white);
}

.hero-name {
  font-family: tenon, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: var(--c-brown1);
}

.hero-title {
  color: var(--c-green2);
}


/* @media (prefers-contrast: more) {
  body {
    background-color: var(--c-brown-dark);
    color: var(--c-white);
  }

  a {
    color: var(--c-yellow);
  }

  h1,
  h2,
  h3 {
    color: var(--c-yellow);
  }

  .menu__link {
    border-bottom: 0.1rem solid var(--c-yellow);
    color: var(--c-white);
  }

  .menu__link:before {
    background-color: var(--c-yellow);
  }

  .menu__link:hover {
    color: var(--c-white);
  }

  main img {
    border: 0.1rem solid var(--c-white);
  }
} */


/* MOBILE */
@media screen and (min-width: 375px) {
/* GENERAL STYLES*/
  h1 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s32);
  }

  h2 {
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: var(--s16);
    line-height: 1.2rem;
  }

  h3 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s24);
    text-transform: uppercase;
    line-height: 1.6rem;
  }

  h4 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s40);
    text-transform: uppercase;
  }

  h5 {
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: var(--s20);
    text-transform: uppercase;
  }

  h6 {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s18);
    text-transform: uppercase;
  }

  strong {
    font-weight: 500;
  }

  .strategy_name {
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s36);
    text-transform: uppercase;
  }

    /* .bubble-side-text{
      font-family: tenon, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: var(--s16);
      text-transform: uppercase;
      color: var(--c-brown1);
      opacity: 10%;
    } */


  /* NAVIGATION */
  .nav {
    position: relative;
    z-index: 2;
  }

  .nav__button,
  .nav__button:hover {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
  }


  .nav__button--close.visible {
    display: block;
  }

  .nav__button--hamburger {
    display: block;
  }

  .nav__button--hamburger.hidden {
    display: none;
  }

  .nav__list {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--c-brown1);
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    z-index: 1;
  }

  .nav__list.hidden {
    display: none;
  }

  .nav__list.visible {
    display: flex;
    flex-direction: column;
  }

  header {
    position: relative;
  }

  .logo-menu {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .logo-menu img {
    max-width: var(--s96);
    height: auto;
  }

  /* HERO SECTION */
  .hero-image {
<<<<<<< HEAD
/* HERO SECTION */
  .hero-image{
=======
>>>>>>> 6c5464b (test hero)
    background-image: url('./assets/hero-mobile.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 42vh;
  }

  .dashed-circle {
    display: inline-block;
    width: 6rem;
    /* Size of the circle */
    height: 6rem;
    border: 2px dashed var(--c-brown1);
    /* Dashed border color */
    border-radius: 50%;
    /* Make it a circle */
    position: relative;
    cursor: pointer;
    top: 11.5rem;
    left: 15.8rem;
    animation: spin 4s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .dashed-circle:hover {
    border: 2px dashed var(--c-brown1);
    background-color: var(--c-brown1);
    opacity: 30%;
  }

  .hero-image-text {
    display: none;
  }

  .hero-text {
    margin-top: -0.5rem;
  }

  .hero-name {
    font-size: var(--s18);
    margin: 0;
  }

  .hero-title {
    margin: 0;
    line-height: var(--s40);
  }


/* PLANTIN BUBBLE */
  .plantin-bubble-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1rem;
  }

  .plantin-bubble {
    width: 250px;
    height: 250px;
  }

  .plantin-bubble,
  .plantin-line {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }

  .plantin-line {
    border-left: 2px dashed var(--c-brown1);
    height: 22rem;
    z-index: 0;
  }


  /* SECTION ABOUT PLANTIN */
  .about-plantin-intro-titles {
    text-align: center;
    margin: 1rem;
  }

  .about-plantin-subtitle{
    margin-bottom: 0.3rem;
  }
    
  .plantin-storyline-container {
    position: relative;
    width: 100%;
  }

  .plantin-story-line {
    position: relative;
    width: 90vw;
    border-top: 1px solid var(--c-grey1);
    margin-left: calc(-20%);
    margin-top: 3rem;
  }

  .story-bubbles {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
  }

  .story-bubble {
    text-align: center;
    position: relative;
  }

  .bubble {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--c-blue2);
    background-color: var(--c-blue-white);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .bubble:active
  .bubble:hover
  .bubble:focus{
    background-color: var(--c-blue2);
  }

  .bubble.selected {
    background-color: var(--c-blue2);
  }

  .story-bubble p {
    margin-top: 2.5rem;
    color: var(--c-blue2);
    font-size: var(--s16);
  }

  .storyline-images-frame {
    background-image: url('./assets/storyline-frame.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    margin-top: 4rem;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
  }

  .storyline-images {
    position: relative;
    left: 4rem;
    transform: translateY(5rem);
  }

  .storyline-images picture {
    position: absolute;
  }

  .bookbinder{
    transform: translateX(2rem) translateY(-0.5rem);
  }

  .antwerp{
    transform: translateX(-0.6rem) translateY(2rem);
  }

  .plantinpress{
    transform: translateX(0.5rem);
  }


/* MARKETING GENIUS */
  .marketing-genius-titles{
    text-align: center;
    margin-bottom: 1rem;
  }

  .marketing-genius-subtitle{
    margin-bottom: 0.3rem;
  }

  .marketing-genius-textone{
    margin-bottom: 0.5rem;
  }

  .genius-frame{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .marketing-genius-statements{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .strategies-button{
    display: flex;
    justify-self: center;
    background-color: var(--c-grey1);
  }


/* IDENTITY BUBBLE */
  .identity-bubble-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .identity-bubble{
    width: 250px;
    height: 250px;
  }

  .identity-bubble, .identity-line{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }

  .identity-line{
    border-left: 2px dashed var(--c-brown1);
    height: 22rem;
    z-index: 0;
  }

/* SECTION IDENTITY */
  .section-identity-titles{
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .section-identity-titleone{
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5rem;
    line-height: 2.5rem;
  }

  .section-identity-subtitle{
    margin-bottom: 0.5rem;
  }


/* SECTION GUESS LOGO */
  .section-guess-logo{
    margin-bottom: 2rem;
    background-color: #D4D8CB;
    margin-left: calc(-1rem);
    margin-right: calc(-1rem);
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 2px 5px #929291;
  }

 .guess-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(2.5rem);
  }

  .questionmark-green {
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
  }

  .guess-logo-line {
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: var(--c-green2);
    z-index: 0;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .logo-frame img {
    z-index: 0;
    width: 270px;
  }

  .logo img {
    z-index: 1;
    position: absolute;
    width: 160px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .meter-circle, 
  .compases-circle, 
  .sharpener-circle{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1px solid var(--c-brown1);
    background-color: var(--c-blue-white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .meter-circle:hover, 
  .compases-circle:hover, 
  .sharpener-circle:hover,
  .meter-circle:active, 
  .compases-circle:active, 
  .sharpener-circle:active,
  .meter-circle:focus, 
  .compases-circle:focus, 
  .sharpener-circle:focus{
    background-color: #D4D8CB;
  }

  .compasessmall img, .meter img, .sharpener img {
    width: 70px;
    object-fit: contain;
  }

  .tools-and-instructions-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
  }

  .tools-container {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
  }

  .logo-instruction-line {
    position: relative;
    border-top: 1px solid var(--c-brown1);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .instructions-logo-desc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  .instructions-logo {
    font-family: tenon, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: var(--s14);
    color: var(--c-brown1);
  }

  .fa-info-circle {
    color: var(--c-brown1);
  }


/* SECTION IDENTITY LOGO */
  .section-identity-logo{
    padding-top: 3rem;
  }

  .section-identity-logo-titles{
    text-align: center;
  }

  .section-identity-logo-back{
    color: #223303;
    opacity: 7%;
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s78);
    line-height: 0;
  }

  .section-identity-logo-front{
    transform: translateY(-1.5rem);
  }

  .logo-one img{
    width: 300px;
    display: flex;
    justify-self: center;
    margin-bottom: 1rem;
  }

  .logo-one-title{
    padding-bottom: 0.3rem;
  }


/* SECTION IDENTITY BRAND */
  .section-identity-brand{
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .section-identity-brand-titles {
    text-align: center;
  }

  .section-identity-brand-back {
    color: #223303;
    opacity: 7%;
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--s78);
    line-height: 0;
  }

  .section-identity-brand-front {
    transform: translateY(-1.5rem);
  }

  .identity-brand-desc{
    margin-bottom: 2rem;
  }

  .identity-brand-title{
    padding-bottom: 0.3rem;
  }

  .book-collection img{
    width: 300px;
    display: flex;
    justify-self: center;
  }

  .uniform-style-desc{
    margin-top: 2rem;
  }

  .uniform-style-title{
    padding-bottom: 0.3rem;
  }


/* STRATEGIES BUBBLE CONTAINER */
   .strategies-bubble-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1rem;
  }

  .strategies-bubble{
    width: 250px;
    height: 250px;
  }

  .strategies-bubble, .marketing-line{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }

  .marketing-line{
    border-left: 2px dashed var(--c-brown1);
    height: 22rem;
    z-index: 0;
  }


/* SECTION STRATEGIES INTRO */
  .section-strategies-intro{
    margin-top: 2rem;
  }

  .section-strategies-intro-titles{
    text-align: center;
    padding-bottom: 0.7rem;
  }

  .section-strategies-intro-title{
    font-size: var(--s78);
    font-family: psfournier-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 4rem;
  }

  .section-strategies-intro-subtitle{
    line-height: 2.3rem;
  }

  .strategy_names{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.2rem;
  }

  .strategy_name{
    line-height: 2rem;
  }


/* BLACK & WHITE DIVISION */
  .big-black-text {
    font-family: tenon, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: var(--s78); /* Ensure this variable reflects your large font size */
    text-transform: uppercase;
    text-align: center;
    line-height: 3.7rem;
    overflow: hidden; /* Hides overflowing content */
    margin-bottom: -0.45rem;
    color: var(--c-grey1);
    -webkit-text-stroke: 1px var(--c-blue3);
  }


/* BLACK ARTICLE */
  .black-article-intro{
    padding-top: 3rem;
    text-align: center;
    color: var(--c-blue4);
    font-size: var(--s20);
    line-height: 1.5rem;
  }


/*  WHITE LETTERS CIRCLES STARTEGIES */
  .social-status-container, 
  .audiences-container, 
  .proofreaders-container,
  .collectors-container,
  .ultimate-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .social-status, 
  .audiences,
  .proofreaders,
  .collectors,
  .ultimate {
    width: 150px;
  }

  .social-status,
  .audiences,
  .proofreaders,
  .collectors,
  .ultimate,
  .social-status-line,
  .audiences-line,
  .proofreaders-line,
  .collectors-line,
  .ultimate-line {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }

  .white-strategy-line {
    border-left: 1px dashed var(--c-blue-white);
    height: 15rem;
    z-index: 0;
  }


/* SECTION SS INTRO */
  .section-ss-intro{
    background-image: url('./src/assets/ss-intro-image.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
  }

  .section-ss-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-ss-intro-titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1rem;
  }

  .strategy-name-titles{
    text-align: center;
  }

  .strategy_name-subtitle{
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
  }

  .section-ss-intro-textone{
    padding-bottom: 0.5rem;
  }
  
/* SECTION SS BIBLE */
  .section-ss-bible-title{
    padding-bottom: 0.5rem;
  }

  .bible-hover-images {
    background-image: url('./src/assets/bible.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
  }

  .bible-hover{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .bible-hover-text{
    font-size: var(--s16);
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
  }

  .map img{
    width: 120px;
    transform: translateY(8rem) translateX(1.5rem);
  }
  
  .ornate img{
    width: 60px;
    transform: translateX(6rem) translateY(2rem);
  }

  .snake img {
    width: 100px;
    transform: translateY(9rem) translateX(1rem);
   }

  .bible-hover-page,
  .bible-hover-ornate,
  .bible-hover-map,
  .bible-hover-woodcut{
    font-family: tenon, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: var(--s14);
  }





/* SECTION SS QUEST */
  .section-ss-quest{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .ss-quest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .questionmark-blue-s {
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
  }

  .ss-quest-line{
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: var(--c-blue3);
    z-index: 0;
  }

/* SECTION P QUEST */
  .section-p-quest{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .p-quest-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .questionmark-blue-p{
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
  }

  .p-quest-line{
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: var(--c-blue3);
    z-index: 0;
  }


/* PROOFREADER QUEST */
  .proofreader-rectangle {
    border: 2px solid #3003f8;
    padding: 1.4rem;
    width: 21rem;
    font-family: psfournier-std, sans-serif;
    font-weight: 400;
    transition: height 0.3s ease;
    overflow: hidden;
  }

  .fa-lightbulb {
    color: var(--c-blue-white);
    font-size: var(--s24);
  }

  .solution {
    background-color: #3350E9;
    color: var(--c-blue-white);
    border: 2px solid #ccc;
    width: 21rem;
    padding: 1.4rem;
    font-family: psfournier-std, sans-serif;
    font-weight: 400;
  }
}

.bible-languages{
  background-image: url('./src/assets/languageglobe.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.section-a-intro{
  background-image: url('./src/assets/target-left.png'), url('./src/assets/target-right.png') ;
  background-position: center, center;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  width: 100%, 100%;
  height: auto, auto;
}

.religious-communities{
  background-image: url('./assets/religion-frame.png'), url('./src/assets/religion-paper.png') ;
  background-position: center, center;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  width: 100%, 100%;
  height: auto, auto;
}

.scholars{
  background-image: url('./src/assets/scholars-frame.png'), url('./src/assets/scholars-paper.png') ;
  background-position: center, center;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  width: 100%, 100%;
  height: auto, auto;
}

.middle-class{
  background-image: url('./src/assets/middleclass-frame.png'), url('./src/assets/middleclass-paper.png') ;
  background-position: center, center;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  width: 100%, 100%;
  height: auto, auto;
}

.section-p-intro{
  background-image: url('./src/assets/daughters-left.png'), url('./src/assets/daughters-right.png') ;
  background-position: center, center;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  width: 100%, 100%;
  height: auto, auto;
}

.section-c{
  background-image: url('./src/assets/handleft.png'), url('./src/assets/handright.png'),url('./src/assets/handfight.png') ;
  background-position: center, center, center;
  background-size: contain, contain, contain;
  background-repeat: no-repeat, no-repeat, no-repeat;
  width: 100%, 100%, 100%;
  height: auto, auto, auto;
}

.section-u{
  background-image: url('./src/assets/fireleft.png'), url('./src/assets/fireright.png') ;
  background-position: center, center;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  width: 100%, 100%;
  height: auto, auto;
}
}




/* DESKTOP */
@media screen and (min-width: 960px) {

  /* NAVIGATION */
  /* .nav {
       display: flex;
       justify-content: flex-end;
       align-items: center;
       padding: 1rem;
     } */

  .nav__list {
    display: flex !important;
    flex-direction: row;
    position: static;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .nav__item {
    margin: 0 1rem;
  }

  .nav__button {
    display: none;
  }


  /* HERO SECTION */
  .hero-part {
    background-image: url('./src/assets/hero-desktop.png');
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
  }

  .hero-text {
    display: none;
  }

  .hero-image-text {
    display: contents;
  }

  /* PROOFREADER QUEST */
  .proofreader-rectangle {
    border: 2px solid #3003f8;
    padding: 4rem;
    width: 50rem;
    font-family: psfournier-std, sans-serif;
    font-weight: 400;
    transition: height 0.3s ease;
    overflow: hidden;
  }

  .fa-lightbulb {
    color: var(--c-blue-white);
    font-size: var(--s26);
  }

  .solution {
    background-color: #3350E9;
    border: 2px solid #ccc;
    width: 50rem;
    padding: 2rem;
    font-family: psfournier-std, sans-serif;
    font-weight: 400;
  }

}